# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf


# Explicitly declare files you do not want to be treated as text
*.bmp -text
*.dll -text
*.exe -text
*.ico -text
*.jpg -text
*.md2 -text
*.png -text
*.rtf -text
*.svg -text
*.tga -text
*.xbm -text
*.zip -text

